.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;

    /* background-color: aqua; */
    padding: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #eee;
    box-shadow: 0 0 10px #0000007c;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}