.card {
    background-color: aqua;
    width: 100px;
    height: 150px;

    padding: 10px;
    border-radius: 10px;
}

.flexExemplo {
    background-color: violet;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    flex-wrap: wrap;
}